includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    paths:
        - app
        - database/seeders
    excludePaths:
        - vendor
        - node_modules
        - storage
